body {
  background-color: $neutral-900;
  padding: 2rem 4rem;
  max-width: 1440px;
  @include displayFlex($ai: normal, $jc: normal, $fd: column);
  margin: 0 auto;

  @media screen and (max-width: 1000px) {
    padding: 1rem;
  }
}

// Main
main {
  @include displayFlex($fd: column);
  margin: 3rem 0;
}

.header__title-main {
  Color: $Neutral-0;
  text-align: center;
  font: {
    family: $font-bricolage;
    size: 3.5rem;
  }
  margin-bottom: 3rem;

  @media screen and (min-width: 675px) and (max-width: 1000px) {
    width: 30rem;
  }
}

.form__container {
  min-width: 30rem;
  @include displayFlex($ai: initial, $margin: .9rem);

  div {
    @include displayFlex($jc: flex-start, $margin: .9rem );
    background-color: $Neutral-800;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 15px;
    color: $Neutral-200;
    position: relative;

    &:focus-within {
      @include boxShadowFocus($neutral-900, $Neutral-0);
    }

    @include device(small) {
      width: 100%;
    }
  }

  .form__field-text {
    width: 90%;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    outline: none;
    color: $Neutral-200;

    &::placeholder {
      color: $Neutral-200;
    }
  }

  .form__button {
    background-color: $Blue-500;
    padding: 0 1.5rem;
    color: $Neutral-0;
    border-radius: 15px;
    font-size: 1rem;
    transition: background-color .2s ease-in-out;

    &:focus {
      @include boxShadowFocus($neutral-900, $Blue-700);
    }

    &:hover {
      background-color: $Blue-700;
    }

    @include device(small) {
      padding: 1rem 0;
    }
  }

  .form__options {
    font-family: $font-bricolage;
    width: 100%;
    background: $Neutral-800;
    list-style-type: none;
    position: absolute;
    padding: .4rem;
    border-radius: 15px;
    left: 0;
    top: 120%;
    font-size: .8rem;
    display: none;

    .form__options-city {
      color: $Neutral-0;
      padding: .4rem;
      cursor: pointer;

      &:hover {
        background-color: $Neutral-700;
        border-radius: 8px;
      }
    }
  }

  @include device(small) {
   @include displayFlex($fd: column, $ai: initial, $jc: initial, $margin: 1rem);
   min-width: 100%;
  }
}