@font-face {
  font-family: 'Bricolage Grotesque Bold';
  src: url("../../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: 'DM Sans';
  src: url("../../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 1.125rem;
}

button {
  cursor: pointer;
  border: none;
}

body {
  background-color: #03012d;
  padding: 2rem 4rem;
  min-width: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-direction: column;
  margin: 3rem 0;
}

.header__title-main {
  Color: white;
  font-family: "Bricolage Grotesque Bold";
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.form__container {
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: initial;
  gap: 0.9rem;
  flex-direction: row;
}

.form__container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9rem;
  flex-direction: row;
  background-color: #272541;
  width: 80%;
  padding: 1rem 1rem;
  border-radius: 15px;
  color: #d5d4d9;
}

.form__container div:focus-within {
  box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white;
}

.form__container .form__field-text {
  width: 90%;
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  outline: none;
  color: #d5d4d9;
}

.form__container .form__field-text::placeholder {
  color: #d5d4d9;
}

.form__container .form__button {
  background-color: #4455da;
  padding: 0 1.5rem;
  color: white;
  border-radius: 15px;
  font-size: 1rem;
  transition: background-color .2s ease-in-out;
}

.form__container .form__button:focus {
  box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px #2d1c9c;
}

.form__container .form__button:hover {
  background-color: #2d1c9c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  flex-direction: row;
}

.header .header__units {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-direction: column;
}

.header__units-dropdown {
  color: white;
  background-color: #272541;
  border: none;
  padding: .8rem 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  line-height: 0;
  cursor: pointer;
  font-size: .9rem;
  transition: background .2s ease-in-out;
}

.header__units-dropdown:hover {
  background-color: #312f4b;
}

.header__units-dropdown:focus {
  box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white;
}

.header__units-dropdown img {
  width: .8rem;
}

.header__units-container {
  max-height: 0;
  overflow: hidden;
  width: 16rem;
  position: absolute;
  right: 0;
  top: 3rem;
  font-family: "DM Sans";
  background-color: #272541;
  color: white;
  border-radius: 6px;
  padding: 0;
  transition: padding .5s ease-in-out, max-height .4s ease-in-out;
}

.header__units-container.active {
  padding: 1rem;
  max-height: 32rem;
}

.header__units-container .units-container__button {
  text-align: left;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  transition: background-color .2s ease-in-out;
}

.header__units-container .units-container__button:hover {
  background-color: #312f4b;
}

.header__units-container .units-container__button:focus {
  box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white;
}

.units-container__options {
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #3d3b5e;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.units-container__options .options__subtitle {
  color: #aeaeb7;
  padding-left: 10px;
  font-weight: bold;
}

.units-container__options .options__subtitle:focus {
  box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white;
}

.units-container__options .options__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-direction: row;
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  position: relative;
}

.units-container__options .options__unit-active {
  background-color: #312f4b;
}

.units-container__options input {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.weather {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  flex-direction: row;
}

.weather__daily {
  width: 70%;
}

.daily {
  background: url("../../images/bg-today-large.svg") center center/cover no-repeat;
  width: 100%;
  height: 18rem;
  border-radius: 20px;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-direction: row;
  font-family: "DM Sans";
}

.daily .daily__city {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.daily .daily__weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-direction: row;
  margin-right: .8rem;
}

.daily .daily__weather-icon {
  width: 6rem;
}

.daily .daily__weather-degrees {
  font-size: 5rem;
  font-style: italic;
  font-weight: bold;
}

.daily-metrics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  margin-top: 2rem;
}

.daily-metrics .daily-metrics__container {
  width: 33.3%;
  padding: 1rem;
  background-color: #272541;
  border-radius: 15px;
  font-family: "DM Sans";
  font-weight: normal;
  border: 2px solid #3d3b5e;
}

.daily-metrics .daily-metrics__title {
  margin-bottom: 1rem;
  color: #aeaeb7;
}

.daily-metrics .daily-metrics__unit {
  font-size: 2rem;
  color: #d5d4d9;
}

.daily-forecast {
  width: 100%;
  margin-top: 3rem;
  font-family: "DM Sans";
}

.daily-forecast .daily-forecast__title {
  color: white;
  margin-bottom: 2rem;
}

.daily-forecast .daily-forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.daily-forecast .forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-direction: column;
  padding: 1rem;
  border-radius: 15px;
  color: #d5d4d9;
  background-color: #272541;
  width: 15%;
  border: 2px solid #3d3b5e;
}

.daily-forecast .forecast .forecast__icon {
  width: 4rem;
  margin: 1.5rem 0;
}

.daily-forecast .forecast .forecast__temperature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-direction: row;
}

.daily-forecast .forecast .forecast__temperature .forecast__temperature-max {
  color: white;
}

.daily-forecast .forecast .forecast__temperature .forecast__temperature-min {
  color: #aeaeb7;
}

.hourly-forecast {
  width: 28%;
  padding: 1rem;
  border-radius: 20px;
  background-color: #272541;
  color: #d5d4d9;
  font-family: "DM Sans";
}

.hourly-forecast .hourly-forecast__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.hourly-forecast .hourly-forecast__title {
  font-size: 1.3rem;
}

.hourly-forecast .hourly-forecast__button-dropdown {
  color: white;
  background-color: #3d3b5e;
  border: none;
  padding: .8rem 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  line-height: 0;
  cursor: pointer;
  font-size: .9rem;
  transition: background .2s ease-in-out;
  padding: 1.1rem;
}

.hourly-forecast .hourly-forecast__button-dropdown:hover {
  background-color: #312f4b;
}

.hourly-forecast .hourly-forecast__button-dropdown:focus {
  box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white;
}

.hourly-forecast .hourly-forecast__button-dropdown img {
  width: .8rem;
}

.hourly-forecast .hours {
  display: flex;
  justify-content: center;
  align-items: initial;
  gap: 15px;
  flex-direction: column;
  font-weight: bold;
}

.hourly-forecast .hours-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  background-color: #312f4b;
  border-radius: 10px;
  padding: .8rem;
  border: 2px solid #3d3b5e;
}

.hourly-forecast .hours-content__icon {
  width: 2.5rem;
}

.hourly-forecast .hours-content__temperature {
  margin: 0 10px 0 auto;
}
