@font-face {
  font-family: 'Bricolage Grotesque Bold';
  src: url("../../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype"); }

@font-face {
  font-family: 'DM Sans';
  src: url("../../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf"); }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/* line 8, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_reset.scss */
html {
  font-size: 1.125rem; }

/* line 12, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_reset.scss */
button {
  cursor: pointer;
  border: none; }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
body {
  background-color: #03012d;
  padding: 2rem 4rem;
  min-width: 100vh; }

/* line 8, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-direction: column;
  margin: 3rem 0; }

/* line 13, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
.header__title-main {
  Color: white;
  font-family: "Bricolage Grotesque Bold";
  font-size: 2.5rem;
  margin-bottom: 3rem; }

/* line 22, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
.form__container {
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: initial;
  gap: 0.9rem;
  flex-direction: row; }
  /* line 26, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9rem;
    flex-direction: row;
    background-color: #272541;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 15px;
    color: #d5d4d9; }
    /* line 34, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container div:focus-within {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
  /* line 39, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container .form__field-text {
    width: 90%;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    outline: none;
    color: #d5d4d9; }
    /* line 48, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__field-text::placeholder {
      color: #d5d4d9; }
  /* line 53, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container .form__button {
    background-color: #4455da;
    padding: 0 1.5rem;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    transition: background-color .2s ease-in-out; }
    /* line 61, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__button:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px #2d1c9c; }
    /* line 65, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__button:hover {
      background-color: #2d1c9c; }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  flex-direction: row; }
  /* line 4, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header .header__units {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column; }

/* line 10, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.header__units-dropdown {
  color: white;
  background-color: #272541;
  border: none;
  padding: .8rem 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  line-height: 0;
  cursor: pointer;
  font-size: .9rem;
  transition: background .2s ease-in-out; }
  /* line 22, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-dropdown:hover {
    background-color: #312f4b; }
  /* line 25, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-dropdown:focus {
    box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
  /* line 29, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-dropdown img {
    width: .8rem; }

/* line 34, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.header__units-container {
  max-height: 0;
  overflow: hidden;
  width: 16rem;
  position: absolute;
  right: 0;
  top: 3rem;
  font-family: "DM Sans";
  background-color: #272541;
  color: white;
  border-radius: 6px;
  padding: 0;
  transition: padding .5s ease-in-out, max-height .4s ease-in-out; }
  /* line 48, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-container.active {
    padding: 1rem;
    max-height: 32rem; }
  /* line 53, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-container .units-container__button {
    text-align: left;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    transition: background-color .2s ease-in-out; }
    /* line 64, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
    .header__units-container .units-container__button:hover {
      background-color: #312f4b; }
    /* line 68, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
    .header__units-container .units-container__button:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }

/* line 74, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.units-container__options {
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #3d3b5e;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column; }
  /* line 81, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options .options__subtitle {
    color: #aeaeb7;
    padding-left: 10px;
    font-weight: bold; }
    /* line 86, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
    .units-container__options .options__subtitle:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
  /* line 91, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options .options__unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: initial;
    flex-direction: row;
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    position: relative; }
  /* line 99, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options .options__unit-active {
    background-color: #312f4b; }
  /* line 103, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options input {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer; }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.weather {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  flex-direction: row; }

/* line 7, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.weather__daily {
  width: 70%; }

/* line 11, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.daily {
  background: url("../../images/bg-today-large.svg") center center/cover no-repeat;
  width: 100%;
  height: 18rem;
  border-radius: 20px;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-direction: row;
  font-family: "DM Sans"; }
  /* line 21, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__city {
    font-size: 1.5rem;
    margin-bottom: 15px; }
  /* line 26, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: initial;
    flex-direction: row;
    margin-right: .8rem; }
  /* line 31, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__weather-icon {
    width: 6rem; }
  /* line 35, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__weather-degrees {
    font-size: 5rem;
    font-style: italic;
    font-weight: bold; }

/* line 42, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.daily-metrics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  margin-top: 2rem; }
  /* line 47, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-metrics .daily-metrics__container {
    width: 33.3%;
    padding: 1rem;
    background-color: #272541;
    border-radius: 15px;
    font-family: "DM Sans";
    font-weight: normal;
    border: 2px solid #3d3b5e; }
  /* line 57, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-metrics .daily-metrics__title {
    margin-bottom: 1rem;
    color: #aeaeb7; }
  /* line 62, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-metrics .daily-metrics__unit {
    font-size: 2rem;
    color: #d5d4d9; }

/* line 68, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.daily-forecast {
  width: 100%;
  margin-top: 3rem;
  font-family: "DM Sans"; }
  /* line 73, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-forecast .daily-forecast__title {
    color: white;
    margin-bottom: 2rem; }
  /* line 78, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-forecast .daily-forecast-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row; }
  /* line 82, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-forecast .forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: initial;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    color: #d5d4d9;
    background-color: #272541;
    width: 15%;
    border: 2px solid #3d3b5e; }
    /* line 91, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .daily-forecast .forecast .forecast__icon {
      width: 4rem;
      margin: 1.5rem 0; }
    /* line 96, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .daily-forecast .forecast .forecast__temperature {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: initial;
      flex-direction: row; }
      /* line 100, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .forecast .forecast__temperature .forecast__temperature-max {
        color: white; }
      /* line 104, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .forecast .forecast__temperature .forecast__temperature-min {
        color: #aeaeb7; }

/* line 111, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.hourly-forecast {
  width: 28%;
  padding: 1rem;
  border-radius: 20px;
  background-color: #272541;
  color: #d5d4d9;
  font-family: "DM Sans"; }
  /* line 119, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: initial;
    flex-direction: row;
    margin-bottom: 1.5rem; }
  /* line 124, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__title {
    font-size: 1.3rem; }
  /* line 128, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__button-dropdown {
    color: white;
    background-color: #3d3b5e;
    border: none;
    padding: .8rem 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    line-height: 0;
    cursor: pointer;
    font-size: .9rem;
    transition: background .2s ease-in-out;
    padding: 1.1rem; }
    /* line 75, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_variaveis-e-mixins.scss */
    .hourly-forecast .hourly-forecast__button-dropdown:hover {
      background-color: #312f4b; }
    /* line 78, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_variaveis-e-mixins.scss */
    .hourly-forecast .hourly-forecast__button-dropdown:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
    /* line 82, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_variaveis-e-mixins.scss */
    .hourly-forecast .hourly-forecast__button-dropdown img {
      width: .8rem; }
  /* line 133, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours {
    display: flex;
    justify-content: center;
    align-items: initial;
    gap: 15px;
    flex-direction: column;
    font-weight: bold; }
  /* line 138, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background-color: #312f4b;
    border-radius: 10px;
    padding: .8rem;
    border: 2px solid #3d3b5e; }
  /* line 146, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours-content__icon {
    width: 2.5rem; }
  /* line 150, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours-content__temperature {
    margin: 0 10px 0 auto; }

/*# sourceMappingURL=styles.css.map */