@font-face {
  font-family: 'Bricolage Grotesque Bold';
  src: url("../../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype"); }

@font-face {
  font-family: 'DM Sans';
  src: url("../../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf"); }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/* line 8, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_reset.scss */
html {
  font-size: 1.125rem; }

/* line 12, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_reset.scss */
button {
  cursor: pointer;
  border: none; }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
body {
  background-color: #03012d;
  padding: 2rem 4rem;
  max-width: 1440px;
  display: flex;
  justify-content: normal;
  align-items: normal;
  gap: initial;
  flex-direction: column;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    /* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    body {
      padding: 1rem; } }

/* line 14, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: initial;
  flex-direction: column;
  margin: 3rem 0; }

/* line 19, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
.header__title-main {
  Color: white;
  text-align: center;
  font-family: "Bricolage Grotesque Bold";
  font-size: 3.5rem;
  margin-bottom: 3rem; }
  @media screen and (min-width: 675px) and (max-width: 1000px) {
    /* line 19, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .header__title-main {
      width: 30rem; } }

/* line 33, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
.form__container {
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: initial;
  gap: 0.9rem;
  flex-direction: row; }
  /* line 37, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.9rem;
    flex-direction: row;
    background-color: #272541;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 15px;
    color: #d5d4d9;
    position: relative; }
    /* line 46, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container div:focus-within {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
    @media screen and (max-width: 759px) {
      /* line 37, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
      .form__container div {
        width: 100%; } }
  /* line 55, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container .form__field-text {
    width: 90%;
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1rem;
    outline: none;
    color: #d5d4d9; }
    /* line 64, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__field-text::placeholder {
      color: #d5d4d9; }
  /* line 69, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container .form__button {
    background-color: #4455da;
    padding: 0 1.5rem;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
    transition: background-color .2s ease-in-out; }
    /* line 77, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__button:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px #2d1c9c; }
    /* line 81, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__button:hover {
      background-color: #2d1c9c; }
    @media screen and (max-width: 759px) {
      /* line 69, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
      .form__container .form__button {
        padding: 1rem 0; } }
  /* line 90, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
  .form__container .form__options {
    font-family: "Bricolage Grotesque Bold";
    width: 100%;
    background: #272541;
    list-style-type: none;
    position: absolute;
    padding: .4rem;
    border-radius: 15px;
    left: 0;
    top: 120%;
    font-size: .8rem;
    display: none; }
    /* line 103, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container .form__options .form__options-city {
      color: white;
      padding: .4rem;
      cursor: pointer; }
      /* line 108, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
      .form__container .form__options .form__options-city:hover {
        background-color: #312f4b;
        border-radius: 8px; }
  @media screen and (max-width: 759px) {
    /* line 33, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/corpo.scss */
    .form__container {
      display: flex;
      justify-content: initial;
      align-items: initial;
      gap: 1rem;
      flex-direction: column;
      min-width: 100%; } }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  flex-direction: row; }
  /* line 4, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header .header__units {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column; }

/* line 10, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.header__units-dropdown {
  color: white;
  background-color: #272541;
  border: none;
  padding: .8rem 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  line-height: 0;
  cursor: pointer;
  font-size: .9rem;
  transition: background .2s ease-in-out; }
  /* line 22, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-dropdown:hover {
    background-color: #312f4b; }
  /* line 25, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-dropdown:focus {
    box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
  /* line 29, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-dropdown img {
    width: .8rem; }

/* line 34, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.header__units-container {
  z-index: 10000;
  max-height: 0;
  overflow: hidden;
  width: 16rem;
  position: absolute;
  right: 0;
  top: 3rem;
  font-family: "DM Sans";
  background-color: #272541;
  color: white;
  border-radius: 6px;
  padding: 0;
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.1);
  transition: padding .5s ease-in-out, max-height .4s ease-in-out; }
  /* line 50, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-container.active {
    border: 2px solid #3d3b5e;
    padding: 1rem;
    max-height: 32rem; }
  /* line 56, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .header__units-container .units-container__button {
    text-align: left;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    transition: background-color .2s ease-in-out; }
    /* line 67, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
    .header__units-container .units-container__button:hover {
      background-color: #312f4b; }
    /* line 71, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
    .header__units-container .units-container__button:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }

/* line 77, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
.units-container__options {
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #3d3b5e;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column; }
  /* line 84, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options .options__subtitle {
    color: #aeaeb7;
    padding-left: 10px;
    font-weight: bold; }
    /* line 89, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
    .units-container__options .options__subtitle:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
  /* line 94, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options .options__unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: initial;
    flex-direction: row;
    width: 100%;
    padding: 12px 10px;
    border-radius: 8px;
    position: relative; }
  /* line 102, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options .options__unit-active {
    background-color: #312f4b; }
  /* line 106, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_cabecalho.scss */
  .units-container__options input {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer; }

/* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.weather {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  flex-direction: row; }
  @media screen and (max-width: 1439px) {
    /* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .weather {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: initial;
      flex-direction: column; } }
  @media screen and (min-width: 1439px) {
    /* line 1, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .weather {
      width: 100%; } }

@media screen and (min-width: 1440px) {
  /* line 13, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .weather__daily {
    width: 70%; } }

@media screen and (max-width: 759px) {
  /* line 13, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .weather__daily {
    width: 100%; } }

/* line 23, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.daily {
  background: url("../../images/bg-today-large.svg") center center/cover no-repeat;
  width: 100%;
  height: 18rem;
  border-radius: 20px;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  flex-direction: row;
  font-family: "DM Sans"; }
  /* line 33, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__city {
    font-size: 1.5rem;
    margin-bottom: 15px; }
  /* line 38, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: initial;
    flex-direction: row;
    margin-right: .8rem; }
  /* line 43, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__weather-icon {
    width: 6rem; }
  /* line 47, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily .daily__weather-degrees {
    font-size: 5rem;
    font-style: italic;
    font-weight: bold; }
  @media screen and (max-width: 759px) {
    /* line 23, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .daily {
      text-align: center;
      background: url("../../images/bg-today-small.svg") center center/cover no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: initial;
      flex-direction: column; } }

/* line 60, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.daily-metrics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  margin-top: 2rem; }
  /* line 65, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-metrics .daily-metrics__container {
    width: 33.3%;
    padding: 1rem;
    background-color: #272541;
    border-radius: 15px;
    font-family: "DM Sans";
    font-weight: normal;
    border: 2px solid #3d3b5e; }
    @media screen and (max-width: 940px) {
      /* line 65, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-metrics .daily-metrics__container {
        width: auto; } }
  /* line 79, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-metrics .daily-metrics__title {
    margin-bottom: 1rem;
    color: #aeaeb7; }
  /* line 84, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-metrics .daily-metrics__unit {
    font-size: 2rem;
    color: #d5d4d9; }
  @media screen and (max-width: 940px) {
    /* line 60, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .daily-metrics {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 1rem; } }

/* line 97, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.daily-forecast {
  width: 100%;
  margin-top: 3rem;
  font-family: "DM Sans"; }
  /* line 102, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-forecast .daily-forecast__title {
    color: white;
    margin-bottom: 2rem; }
  /* line 107, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-forecast .daily-forecast-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row; }
    @media screen and (max-width: 940px) {
      /* line 107, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .daily-forecast-container {
        flex-wrap: wrap; } }
  /* line 114, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .daily-forecast .forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: initial;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    color: #d5d4d9;
    background-color: #272541;
    width: 15%;
    border: 2px solid #3d3b5e; }
    /* line 123, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .daily-forecast .forecast .forecast__icon {
      width: 4rem;
      margin: 1.5rem 0; }
    /* line 128, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .daily-forecast .forecast .forecast__temperature {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: initial;
      flex-direction: row; }
      @media screen and (min-width: 641px) and (max-width: 940px) {
        /* line 128, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
        .daily-forecast .forecast .forecast__temperature {
          flex-direction: column;
          align-items: center;
          gap: .5rem; } }
      /* line 137, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .forecast .forecast__temperature .forecast__temperature-max {
        color: white; }
      /* line 141, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .forecast .forecast__temperature .forecast__temperature-min {
        color: #aeaeb7; }
    @media screen and (max-width: 640px) {
      /* line 114, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .forecast {
        width: calc(100% / 3 - 1rem); } }
    @media screen and (min-width: 641px) and (max-width: 940px) {
      /* line 114, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .daily-forecast .forecast {
        width: calc(100% / 7 - 1rem); } }

/* line 156, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
.hourly-forecast {
  width: 28%;
  padding: 1rem;
  border-radius: 20px;
  background-color: #272541;
  color: #d5d4d9;
  font-family: "DM Sans"; }
  /* line 164, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: initial;
    flex-direction: row;
    margin-bottom: 1.5rem; }
  /* line 169, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__title {
    font-size: 1.3rem; }
  /* line 173, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__button-dropdown {
    color: white;
    background-color: #3d3b5e;
    border: none;
    padding: .8rem 1rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    line-height: 0;
    cursor: pointer;
    font-size: .9rem;
    transition: background .2s ease-in-out;
    padding: 1.1rem; }
    /* line 75, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_variaveis-e-mixins.scss */
    .hourly-forecast .hourly-forecast__button-dropdown:hover {
      background-color: #312f4b; }
    /* line 78, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_variaveis-e-mixins.scss */
    .hourly-forecast .hourly-forecast__button-dropdown:focus {
      box-shadow: 0px 0px 1px 2px #03012d, 0px 0px 1px 4px white; }
    /* line 82, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_variaveis-e-mixins.scss */
    .hourly-forecast .hourly-forecast__button-dropdown img {
      width: .8rem; }
  /* line 178, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__dropdown-container {
    position: relative; }
  /* line 182, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__dropdown {
    z-index: 1000;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    border: none;
    width: 15rem;
    position: absolute;
    right: 0;
    top: 3.5rem;
    font-family: "DM Sans";
    background-color: #272541;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.1);
    transition: padding .5s ease-in-out, max-height .4s ease-in-out;
    z-index: 10; }
    /* line 200, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .hourly-forecast .hourly-forecast__dropdown.active {
      border: 2px solid #3d3b5e;
      padding: 1rem;
      max-height: 32rem; }
  /* line 207, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast li {
    margin-bottom: 10px; }
  /* line 211, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hourly-forecast__dropdown-option {
    width: 100%;
    text-align: left;
    color: white;
    background-color: transparent;
    padding: .8rem .5rem;
    border-radius: 6px;
    font-size: 1rem; }
    /* line 220, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .hourly-forecast .hourly-forecast__dropdown-option.active, .hourly-forecast .hourly-forecast__dropdown-option:hover {
      background-color: #312f4b; }
  /* line 225, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours {
    display: flex;
    justify-content: center;
    align-items: initial;
    gap: 15px;
    flex-direction: column;
    font-weight: bold; }
    @media screen and (min-width: 631px) and (max-width: 1439px) {
      /* line 225, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
      .hourly-forecast .hours {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; } }
  /* line 236, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    background-color: #312f4b;
    border-radius: 10px;
    padding: .8rem;
    border: 2px solid #3d3b5e; }
  /* line 244, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours-content__icon {
    width: 2.5rem; }
  /* line 248, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
  .hourly-forecast .hours-content__temperature {
    margin: 0 10px 0 auto; }
  @media screen and (max-width: 1439px) {
    /* line 156, ../../../OneDrive/Documentos/Desenvolvimento/frontend-mentor/weather-app/assets/styles/scss/_previsao.scss */
    .hourly-forecast {
      width: 100%;
      margin-top: 2rem; } }

/*# sourceMappingURL=styles.css.map */